

.pai01{
width: 200px;
height: 200px;
background-color: rgb(187, 151, 109);
}

.filho01{
    width: 50%;
    height: 50%;
    background-color: rgb(0, 191, 255);

}

.pai02{
    width: 50vw;
    height: 50vh;
    background-color: #439FF0;
    }
    
    .filho02{
        width: 25%;
        height: 25%;
        background-color: #F0CE37;
    
    }

    .pai03{
        width: 600px;
        height: 400px;
        background-color: #F07268;
        font-size: 16px;
        }
        
        .filho03{
          
            background-color: #A4F2AE;
            width: 80%;
            height: 80%;
            font-size: 2em;
            
        
        }

        .vo{font-size: 36px;}
        
        .pai04{
            width: 60vw;
            height: 60vh;
            background-color: #E6AF2E;
            font-size: 25px;
                }
            
                .filho04{
                    width: 80%;
                    height: 80%;
                    background-color: #2274A5;
                    font-size: 1rem;
                    }
                
            
        